# Marvel India Environment Variables
TMDB_API_KEY=
OMDB_API_KEY=
WATCHMODE_API_KEY=
MARVEL_PUBLIC_KEY=
MARVEL_PRIVATE_KEY=
SUPABASE_URL=https://oospjmsuwrxvuuzfxwqu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vc3BqbXN1d3J4dnV1emZ4d3F1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5ODE5NDIsImV4cCI6MjEwNTU1Nzk0Mn0.ziz8t0vcFLKRiyYSD6Vk4eTtMUvDh3qYXskZy1-XLIo
